<h5 class="text-info">Dowiedz się Więcej</h5>
<div class="container1">
  <h6> Ogólne </h6>
  <p>Opis</p>
</div>
<div class='container2'>
        <div class="left">
            <img src="/assets/Graphics/somepic.jpg" style="max-width: 200px" class="zdj">
        </div>
        <div style='margin-left:60px;'>
        <h6>  Imię Klienta </h6>
        <p>  Opis </p>
        </div>
</div>
<div class="container3">
  <h6> Kontakt </h6>
  <p>Tel: 000 000 000</p>
  <p>Email: client@gmail.com</p>
  <a href="https://www.facebook.com">Facebook</a>
</div>
