/*p{
  text-align: left;
  margin-left: 20px;
  color: brown;
}
ul li{
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20 px;
  border-left: solid 5px brown;
  text-align: left;
}*/
